# Copy this file to .env.local and fill in your values
NEXT_PUBLIC_SUPABASE_URL=https://vuwinyxduxvgqpkykzhk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1d2lueXhkdXh2Z3Fwa3lremhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3MTE3NjUsImV4cCI6MjA5NDI4Nzc2NX0.LIEywloEXtu9TfabN1TfbTXbbKqLsLCsCSjahvi8zkA
